<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kuvalauta</title>
  </head>

  <body>
    <a href="{{ url_for('main') }}">Return to main page </a>
    -------
    {% if current_user.is_authenticated %}
      <p>
    Current user: {{ current_user.name }}  <a href="{{ url_for('auth_logout') }}">Log out</a>
      </p>
      
      {% else %}
      <a href="{{ url_for('login') }}">Kirjaudu</a>
      {% endif %}
      
      
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>