{% extends "layout.html" %}

{% block body %}

<style>
table {
  width:90%;
}

th {
  text-align: left;
  padding: 5px;
  background-color: #8d8;
}
td {
  padding: 15px;
  text-align: left;
  background-color: #dfd;
}
table#thrTabl td:nth-child(1) {
  width:120px;
  text-align: center;

}
</style>

  <table id='thrTabl'>
    <tr>
      <th colspan=2>Current Threads</th>
    </tr>
    <tr>
      <td colspan=2>
      {% if current_user.is_authenticated %}
      <form action="{{ url_for('threads_form') }}">
         <button type="submit">Create a new thread</button>
      </form>
      {% endif %} 
      </td>
    </tr>
    {% for thread in threads %}
    <th colspan=2>
      <b>{{ thread.title }}</b>
    </th>
    {% with main_comment = thread.get_main_comment() %}
    <tr>
      {% with imgId = main_comment.image_id %}
      {% if imgId %}
      <td><img src="{{ url_for('display_image', image_id=imgId) }}" width=100% height=100%></td>
      {% else %}
      <td></td>
      {% endif %}
    {% endwith %}
      <td> {{ main_comment.content }} </td>
    </tr>
    <tr>
      <td colspan=2><a method="GET" href="{{ url_for('threads_page',thread_id = thread.id) }}">Read replies</a></td>
    <tr>
    {% endwith %}
    {% endfor %}
  </table>
{% endblock %}