{% extends "layout.html" %}

{% block body %}
    
<p></p>
<style>
table {
  width:100%;
}

th {
  padding: 5px;
  text-align: left;
}
td {
  padding: 5px;
  text-align: left;
}
table#cmmntTabl th {
  background-color: #8d8;
}
table#cmmntCont tr:nth-child(even) {
  background-color: #dfd;
}
table#cmmntCont tr:nth-child(odd) {
  background-color: #bfb;
}
table#cmmntCont td {
  padding:5px;
}
table#cmmntCont td:nth-child(1) {
  width:150px;
}
table#cmmntCont td {
  padding: 15px;
  height: 120
}
</style>
<table  id="cmmntTabl">
    {%  for comment in thread.get_comments()  %}
    {% if thread.is_main_comment(comment)  %}
  <th><b>{{  thread.title  }}</b>
    {% if current_user.is_authenticated %}
    {% if current_user.is_admin() %}
    
    <form method="POST" action="{{ url_for('admin_delete_thread', thread_id=thread.id) }}">
         <button type="submit">Delete Thread</button>
    </form>
    {% endif %}
    {% endif %}
  </th>
   {% endif %}
    
    
  <table id="cmmntCont">
    <th colspan=2>
      №{{ comment.id }}, User: {{ thread.get_comment_user(comment).name }}
      {% if current_user.is_authenticated %}
      {% if current_user.is_admin() %}
      <form method="POST" action="{{ url_for('admin_delete_comment', comment_id=comment.id) }}">
        <button type="submit">Delete comment</button>
      </form>
      {% endif %}
      {% endif %}
    </th>
    <tr>
    {% with imgFile = thread.get_image_filename(comment) %}
      {% if imgFile %}
      <td><img src="{{ url_for('display_image', filename=imgFile) }}" width=100%></td>
      {% else %}
      <td></td>
      {% endif %}
    {% endwith %}
      <td>  
        {{ comment.content }} 
      </td>
    </table>
  </tr>
    
  {% endfor %}
</table>


<style>

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
}


.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 600px;
    position: fixed;
    margin: 100px;
    padding: 5px 20px 13px 20px;
    background: #dfd;
}


</style>

<p></p>
{%  if current_user.is_authenticated  %}
<a href="#addComment">Add comment</a>

<div id="addComment" class="modalDialog">
    <div>
        <form method="POST" enctype="multipart/form-data" action="/thread/{{  thread.id }}">
        <table>
        <tr>
          <td>
            {{ form.comment.label }}
          </td>
          <td>
            {{ form.comment }}
          </td>
          <td>
            <ul>
            
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {{ form.image.label }}
          </td>
          <td colspan="2">
            {{ form.image }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Comment"/>
          </td>
        </tr>
        <a href="#close" title="Close" class="close">X</a>
    </div>
</div>
{%  endif  %}
{% endblock %}