{% extends "layout.html" %}

{% block body %}
    
<p></p>
<p><h3 style='color:red;'>{{ error }}</h3></p>
<style>
table {
  width:100%;
}

th {
  padding: 5px;
  text-align: left;
}
td {
  padding: 5px;
  text-align: left;
}
table#cmmntTabl th {
  background-color: #8d8;
}
table#cmmntCont tr:nth-child(even) {
  background-color: #dfd;
}
table#cmmntCont tr:nth-child(odd) {
  background-color: #bfb;
}
table#cmmntCont td {
  padding:5px;
}
table#cmmntCont td:nth-child(1) {
  width:150px;
}
table#cmmntCont td {
  padding: 15px;
  height: 120
}


.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
}


.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 600px;
    position: fixed;
    margin: 100px;
    padding: 5px 20px 13px 20px;
    background: #dfd;
}
</style>
<table  id="cmmntTabl">
  <th><b>{{  thread.title  }}</b>
    {% if thread.exceeds_comment_count() %}
      <p style='color:red;'>THREAD HAS BEEN ARCHIVED. YOU CANNOT COMMENT ANYMORE.</p>
      
    {% endif %}
    {% if current_user.is_authenticated %}
    {% if current_user.is_admin() %}
    
    <form method="POST" action="{{ url_for('admin_delete_thread', thread_id=thread.id) }}">
         <button type="submit">Delete Thread</button>
    </form>
    {% endif %}
    {% endif %}
  </th>
  
  {%  for comment in thread.get_comments()  %}
  <table id="cmmntCont">
    <th colspan=2>
     <b> №{{ comment.id }} </b>, <b>Posted:</b> {{ comment.date_created }}, 
      
      {% if comment.date_created != comment.date_modified %} 
      <b>Modified:</b> {{ comment.date_modified }}, 
      {% endif %}
      <b>User:</b>
      {% if current_user.is_authenticated %}
      {% if current_user.is_admin() %}
      id: {{ comment.account_id }}, Name:  
      {% endif %}
      {% endif %}
      {{ thread.get_comment_user(comment).name }}
      {% if comment.image_id %}
      {% if current_user.is_authenticated %}
      {% if current_user.is_admin() %}
      , <b>Image: </b> 
      id: {{ comment.image_id }}
      {% endif %}
      {% endif %}
      {% endif %}
      {% if current_user.is_authenticated %}
      {% if current_user.is_admin() %}
      {% if thread.get_main_comment().id != comment.id %}
      <form method="POST" action="{{ url_for('admin_delete_comment', comment_id=comment.id) }}">
        <button type="submit">Delete comment</button>
      </form>
      {% endif %}
      {% if comment.image_id %}
      <form method="POST" action="{{ url_for('admin_delete_image', comment_id=comment.id) }}">
        <button type="submit">Delete image</button>
      </form>
      {% endif %}
      {% endif %}
      {% endif %}
    </th>
    <tr>
    {% with imgFile = thread.get_image_filename(comment) %}
      {% if imgFile %}
      <td><img src="{{ url_for('display_image', filename=imgFile) }}" width=100%></td>
      {% else %}
      <td></td>
      {% endif %}
    {% endwith %}
      <td>  
        {{ comment.content }} 
      </td>
    </table>
  </tr>
    
  {% endfor %}
  {%  if current_user.is_authenticated  %}
  {% if not thread.exceeds_comment_count() %}
  <tr> 
    <td>
      <form action="#addComment">
         <button type="submit">Add comment</button>
      </form>
	  
      <div id="addComment" class="modalDialog">
        <div>
        <form method="POST" enctype="multipart/form-data" action="/thread/{{  thread.id }}">
          <table>
		    <a href="" title="Close" class="close">X</a>
            <tr>
              <td>
              {{ form.comment.label }}
              </td>
              <td>
              {{ form.comment }}
              </td>
            </tr>
            <tr>
              <td>
              {{ form.image.label }}
              </td>
              <td>
              {{ form.image }}
              </td>
            </tr>
            <tr>
			  <td></td>
              <td>
                <input type="submit" value="Comment"/>
              </td>
            </tr>
	      </table>
        </div>
      </div>
    </td>
  </tr>
  {%  endif  %}
  {%  endif  %}
</table>

{% endblock %}